* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    /* background: #e5e5e5; */
}

a {    
    text-decoration: none;
    color: #000;
}

a:hover {
    cursor: pointer;
    opacity: 0.8;
}

ul {
    list-style-type: none;
}


/* Header */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
    border-bottom: 1px solid #cfcfcf;
}

.header-menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 14px;
    line-height: 1;
}

@media (max-width: 1024px) {
    .header-menu_desktop {
        display: none;
    }
}

@media (min-width: 1024px) {
    .header-menu_mobile {
        display: none;
    }
}

.header-actions__burger {
    display: none;
}

@media (max-width: 1024px) {
    .header-actions__burger {
        display: inline-block;
        margin-left: 25px;
    }
}

.header-menu__item:not(:last-child) {
    margin-right: 30px;
}

@media (max-width: 1024px) {
    .header-menu {
        flex-direction: column;
    }

    .header-menu__item {
        text-align: center;
    }

    .header-menu__item:not(:last-child) {
        margin-bottom: 15px;
        margin-right: 0;
    }
}

.header-actions__search {
    display: inline-block;
    margin-right: 20px;
}

.header-actions__basket {
    position: relative;
    display: inline-block;
}

.header-actions__basket-count {
    position: absolute;
    top: -6px;
    right: -6px;    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13px;
    height: 13px;
    background: #3366ff;
    border-radius: 50%;
    font-size: 10px;
    color: #fff;
    line-height: 1;
}

/* Main */
.main {
    display: flex;
    flex-direction: row;    
}

/* content */
.content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 410px);
    padding: 60px 65px;
}

@media (max-width: 1024px) {
    .content {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .content {
        padding: 20px 20px;
    }
}

/* Steps */
.shop-steps {
    position: relative;    
    height: 50px;
    margin-left: 35px;
    margin-right: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shop-steps__progress {
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
    height: 1px;
    background: #d5d5d5;
    z-index: 0;
}

.shop-steps__progress-active {
    width: 66.66%;
    height: 1px;
    background: #3366ff;
}

.shop-steps__item {
    position: absolute;
    z-index: 10;
    display: flex;
    width: 70px;
    transform: translateX(-50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shop-steps__item:nth-child(1) {
    left: 0;
}

.shop-steps__item:nth-child(2) {
    left: 33.33%;
}

.shop-steps__item:nth-child(3) {
    left: 66.66%;
}

.shop-steps__item:nth-child(4) {
    left: 100%;
}

.shop-steps__count {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    background: #3366ff;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
    line-height: 1;
    color: #fff; 
}

.shop-steps__num_active {
    background: #fff;    
    border: 1px solid #3366ff;
    color: #000;
}

.shop-steps__num_inactive {
    background: #fff;
    border: 1px solid #d5d5d5;
    color: #d5d5d5;
}

.shop-steps__label {
    margin-top: 10px;
}

/* Billing */
.billing {
    width: 650px;
    max-width: 100%;
    margin: 0 auto;
}

.billing__title {
    font-size: 18px;
    line-height: 1;
    margin-top: 60px;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .billing__heading {
        margin-top: 30px;
    }
}

/* Form */
.form__paymethod {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.form__radio {   
    display: none;
}

.form__row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form__row_paymethod {
    flex-direction: row;
    margin-top: 40px;
}

.form__row_cart-num {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form__radio + .form__radio-label:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -3px;
    width: 18px;
    height: 18px;
    background: #ffffff;
    border: 1px solid #cfcfcf;
    border-radius: 50%;    
}

.form__radio:checked + .form__radio-label:after {
    content: "";
    position: absolute;
    top: 7px;
    left: 10px;
    transform: translate(-50%, -50%);
    display: block;
    width: 8px;
    height: 8px;   
    border-radius: 50%;   
    background: #3366ff;    
}

.form__radio-label {    
    position: relative;
    margin-right: 80px;
    padding-left: 27px;
    font-size: 14px;
}

@media (max-width: 767px) {
    .form__radio-label {    
        margin-right: 20px;
    }
}

.form__creditcard {
    width: 550px;
    max-width: 100%;
    margin-top: 20px;
    margin-left: -20px;
    padding: 20px 30px;
    background: #fff;
    border: 1px solid #CFCFCF;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

@media (max-width: 767px) {
    .form__creditcard {
        margin-left: 0;
    }
}

.form__label {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
}

.form__input {
    background: #ededf1;
    border: 0;
    border-radius: 3px;
    padding: 13px 10px;
    font-size: 14px;
}

.form__input::placeholder {
    color: #8e90a6;
}

.form__input_name {
    width: 100%;
}

.form__input_promocode {
    margin-right: 10px;
}

.form__input_num {
    width: 100px;
}

.form__input_num:not(:last-child) {
    margin-right: 30px;
}

@media (max-width: 767px) {
    .form__input_num {
        width: 60px;
    }

    .form__input_num:not(:last-child) {
        margin-right: 10px;
    }
}

.form__group {
    margin-right: 30px;
}

@media (max-width: 767px) {
    .form__group {
        margin-right: 10px;
    }
}

.form__num-exp {
    display: flex;
    flex-direction: row;
}

.form__chekbox-group:not(:first-child) {
    margin-top: 15px;
}

.form__rules {
    margin-top: 40px;
}

.form__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.form__checkbox {
    display: none;
}

.form__checkbox-label {    
    position: relative;
    display: inline-block;
    padding-left: 26px;
    font-size: 14px;
    line-height: 18px;
    color: #8c8c8c;
}

.form__checkbox + .form__checkbox-label:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -1px;
    width: 18px;
    height: 18px;
    background: #ffffff;
    border: 1px solid #cfcfcf;  
}

.form__checkbox:checked + .form__checkbox-label:after {
    content: "";
    position: absolute;
    top: 9px;
    left: 10px;
    transform: translate(-50%, -50%);
    display: block;
    width: 8px;
    height: 8px;   
    background: #3366ff;    
}

.form__question {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-left: 5px;
    background: #dbdbdb;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
    line-height: 13px;
}
    

/* Buttons */
.button {
    padding: 13px 30px;
    border-radius: 3px;
    background: #3366ff;
    border: 1px solid #3366ff; 
    font-size: 14px;    
    line-height: 1;
    color: #ffffff;
}

.button:hover {
    cursor: pointer;
    opacity: 0.8;
}


.button_light {    
    background: #ffffff;
    border: 1px solid #cfcfcf; 
    color: #000000;
}

/* sidebar */
.sidebar {
    width: 410px;
    max-width: 100%;    
    border-left: 1px solid #cfcfcf;    
}

@media (max-width: 1024px) {
    .sidebar {
        display: none;
    }

    .sidebar.visible {
        display: block;
        position: absolute;
        right: 0;
        z-index: 10;
        background: #fff;       
    }
}

.sidebar__section {
    display: block;    
    padding: 40px;
    border-bottom: 1px solid #cfcfcf;
}

.sidebar__section:last-child {
    border-bottom: none;
}

@media (min-width: 1024px) {
    .sidebar__section_mobile {
        display: none;
    }
}

.sidebar__heading {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 30px;
}

.sidebar__basket {
    margin-top: 30px;
}

.sidebar-basket-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.sidebar-basket-item:last-child {
    margin-bottom: 0;
}

.sidebar-basket-item__img {
    width: 100px;
    margin-right: 10px;
}

.sidebar-basket-item__data {
    width: calc(100% - 145px);
    margin-right: 25px;
}

.sidebar-basket-item__price-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    margin-top: 15px;
}

@media (max-width: 767px) {
    .sidebar-basket-item__price-row {
        flex-direction: column;
    }

    .sidebar-basket-item__price {
        margin-top: 15px;
    }
}

.sidebar-basket-item__count {
    display: inline-block;
    width: 50px;
    text-align: center;
    border: none;
}

.sidebar-basket-item__count-wrap {
    display: flex;
    align-items: center;
}

.sidebar-basket-item__minus,
.sidebar-basket-item__plus {
    display: inline;
    background: none;
    border: none;
    cursor: pointer;
}

.sidebar-basket-item__minus:focus,
.sidebar-basket-item__plus:focus {
    outline: none;
}

.sidebar-basket-item__minus {
    margin-right: 15px;
}

.sidebar-basket-item__delete {
    width: 20px;
}

/*Total Price*/
.total-price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.total-price__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 14px;
}

.total-price__row_main {
    font-size: 18px;
    font-weight: 700;
}